/* Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1f6b7a;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles can be added here */
